<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dislike-Counter</title>
    <meta name="description" content="Get the dislike count of any youtube video!">
    <meta charset="utf-8">
    <meta name="robots" content="index,follow">
    <link rel="icon" href="/static/logo.ico">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/static/styles/style.css">
</head>
<body>
    <h1 class="title">YouTube Dislike Counter</h1>
    <h1 class='about'>To use, simply enter a valid youtube video link in the input box given below!</h1>
    <form action="/result" method="post">
        <label class='input-text' for="vid" class="input-lable">url of youtube video</label><br>
        <input type="text" id="vid" name="vid">
        <br><br>
        <input type="submit" value="Submit">
    </form>
    <h1 class="credits">Made by <a href="https://realhardik18.github.io/">Realhardik18</a> for <a href='https://en.wikipedia.org/wiki/Society'>Society</a></h1>
</body>
</html>