.title {
  color: red;
  font-family: monospace;
  font-size: xx-large;
  text-align: center;
}

.about {
  color: blueviolet;
  font-family: monospace;
  font-size: x-large;
  text-align: center;
}

.input-text {
  color: red;
  font-family: monospace;
  font-size: xx-large;
}
.credits {
  color: blueviolet;
  font-family: monospace;
  font-size: xx-large;
  text-align: center;
}

.number {
  color: blueviolet;
  font-family: monospace;
  font-size: 150px;
  text-align: center;
}
